@import url('https://fonts.googleapis.com/css?family=Rubik:300,500');


.bp3-tablet {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1690px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-tablet .bp3-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 1673px;
  width               : 768px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-video {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1244px;
  height              : 429px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-video .bp3-rectangle {
  background          : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 429px;
  width               : 767px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
}
.bp3-tablet .bp3-group .bp3-video .bp3-rectangle video {
  object-fit          : cover;
  width               : 100%;
  height              : 100%;
}
/* IE doesn't support cover  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bp3-tablet .bp3-group .bp3-video .bp3-rectangle video {
    min-width           : 100%;
    min-height          : 100%;
    position            : absolute;
    margin              : auto;
    top                 : -9999px;
    bottom              : -9999px;
    left                : -9999px;
    right               : -9999px;
  }
}
.bp3-tablet .bp3-group .bp3-about {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 757px;
  height              : 487px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-rectangle3 {
  background          : rgba(206, 32, 41, 1.0);
  top                 : 0px;
  height              : 487px;
  width               : 768px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 413px;
  height              : 34px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-facebook {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-facebook .bp3-oval {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 17px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-facebook .bp3-facebook {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 34px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-twitter .bp3-view1 {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 34px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 17px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-twitter .bp3-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 17px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-instagram {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 104px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-instagram .bp3-view2 {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 17px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-social-deck .bp3-button-social-instagram .bp3-instagram {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-the-feminist-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 112px;
  height              : auto;
  width               : 537px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  letter-spacing      : 0.48px;
  line-height         : 28.0px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-button-download {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 35px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
}
.bp3-tablet .bp3-group .bp3-about .bp3-button-download .bp3-download-the-font {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
.bp3-tablet .bp3-group .bp3-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 125px;
  height              : 475px;
  width               : 659px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  opacity             : 0.79;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-b {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 244px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-d {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 366px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-e {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 482px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-f {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 103px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 560px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-g {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-h {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-i {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 178px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-j {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 293px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-k {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-l {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 485px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 122px;
  height              : 107px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-n {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-o {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-p {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-q {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-r {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 362px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-s {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 458px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-t {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : 107px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 541px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-u {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-v {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-w {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-x {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-y {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 435px;
}
.bp3-tablet .bp3-group .bp3-letters .bp3-z {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 107px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 554px;
}
.bp3-tablet .bp3-group .bp3-choose-a-letter-and {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 635px;
  height              : auto;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(206, 32, 41, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
.bp3-tablet .bp3-group .bp3-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 208px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(206, 32, 41, 1.0);
  text-align          : center;
  letter-spacing      : 1.77px;
  line-height         : 33.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-mobile {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 5768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-mobile .bp2-the-feminist-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(206, 32, 41, 1.0);
  text-align          : center;
  letter-spacing      : 1.77px;
  line-height         : 33.0px;
}
.bp2-mobile .bp2-rectangle3 {
  background          : rgba(206, 32, 41, 1.0);
  top                 : 130px;
  height              : 177px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp2-mobile .bp2-choose-a-letter-and {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 175px;
  height              : auto;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
.bp2-mobile .bp2-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 356px;
  height              : 4605px;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
}
.bp2-mobile .bp2-letters .bp2-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.bp2-mobile .bp2-letters .bp2-b {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 175px;
  height              : 137px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
}
.bp2-mobile .bp2-letters .bp2-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 137px;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp2-mobile .bp2-letters .bp2-d {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 526px;
  height              : 137px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.bp2-mobile .bp2-letters .bp2-e {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 702px;
  height              : 137px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.bp2-mobile .bp2-letters .bp2-f {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 877px;
  height              : 137px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
}
.bp2-mobile .bp2-letters .bp2-g {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1053px;
  height              : 141px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
}
.bp2-mobile .bp2-letters .bp2-h {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1232px;
  height              : 141px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
}
.bp2-mobile .bp2-letters .bp2-i {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1412px;
  height              : 141px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.bp2-mobile .bp2-letters .bp2-j {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1592px;
  height              : 141px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
}
.bp2-mobile .bp2-letters .bp2-k {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1771px;
  height              : 141px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.bp2-mobile .bp2-letters .bp2-l {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1951px;
  height              : 141px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.bp2-mobile .bp2-letters .bp2-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2130px;
  height              : 141px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
}
.bp2-mobile .bp2-letters .bp2-n {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2310px;
  height              : 141px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.bp2-mobile .bp2-letters .bp2-o {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2489px;
  height              : 141px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
.bp2-mobile .bp2-letters .bp2-p {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2669px;
  height              : 141px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.bp2-mobile .bp2-letters .bp2-q {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2848px;
  height              : 141px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
}
.bp2-mobile .bp2-letters .bp2-r {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3028px;
  height              : 141px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
}
.bp2-mobile .bp2-letters .bp2-s {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3208px;
  height              : 141px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
}
.bp2-mobile .bp2-letters .bp2-t {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3387px;
  height              : 141px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.bp2-mobile .bp2-letters .bp2-u {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3567px;
  height              : 141px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
}
.bp2-mobile .bp2-letters .bp2-v {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3746px;
  height              : 141px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
}
.bp2-mobile .bp2-letters .bp2-w {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 3926px;
  height              : 141px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
.bp2-mobile .bp2-letters .bp2-x {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4105px;
  height              : 141px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.bp2-mobile .bp2-letters .bp2-y {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4285px;
  height              : 141px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.bp2-mobile .bp2-letters .bp2-z {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4465px;
  height              : 140px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.bp2-mobile .bp2-view1 {
  background          : rgba(206, 32, 41, 1.0);
  top                 : 5030px;
  height              : 579px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp2-mobile .bp2-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5162px;
  height              : auto;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  letter-spacing      : 1.18px;
  line-height         : 24.0px;
}
.bp2-mobile .bp2-video {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5609px;
  height              : 159px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp2-mobile .bp2-video .bp2-rectangle {
  background          : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 158px;
  width               : 320px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
}
.bp2-mobile .bp2-video .bp2-rectangle video {
  object-fit          : cover;
  width               : 100%;
  height              : 100%;
}
/* IE doesn't support cover  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bp2-mobile .bp2-video .bp2-rectangle video {
    min-width           : 100%;
    min-height          : 100%;
    position            : absolute;
    margin              : auto;
    top                 : -9999px;
    bottom              : -9999px;
    left                : -9999px;
    right               : -9999px;
  }
}
.bp2-mobile .bp2-button-download {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5065px;
  height              : 66px;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.bp2-mobile .bp2-button-download .bp2-download-the-font {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-desktop {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1986px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-desktop .bp1-video {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1418px;
  height              : 571px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp1-desktop .bp1-video .bp1-rectangle {
  background          : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 571px;
  width               : 1024px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
}
.bp1-desktop .bp1-video .bp1-rectangle video {
  object-fit          : cover;
  width               : 100%;
  height              : 100%;
}
/* IE doesn't support cover  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bp1-desktop .bp1-video .bp1-rectangle video {
    min-width           : 100%;
    min-height          : 100%;
    position            : absolute;
    margin              : auto;
    top                 : -9999px;
    bottom              : -9999px;
    left                : -9999px;
    right               : -9999px;
  }
}
.bp1-desktop .bp1-about {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 893px;
  height              : 525px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp1-desktop .bp1-about .bp1-rectangle3 {
  background          : rgba(206, 32, 41, 1.0);
  top                 : 0px;
  height              : 525px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp1-desktop .bp1-about .bp1-social-deck {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 429px;
  height              : 28px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 455px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-facebook {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-facebook .bp1-oval {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-facebook .bp1-facebook {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-twitter .bp1-view1 {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-twitter .bp1-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 13px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-instagram {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-instagram .bp1-view2 {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
}
.bp1-desktop .bp1-about .bp1-social-deck .bp1-button-social-instagram .bp1-instagram {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.bp1-desktop .bp1-about .bp1-the-feminist-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 162px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  letter-spacing      : 0.48px;
  line-height         : 28.0px;
}
.bp1-desktop .bp1-about .bp1-button-download {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 33px;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
}
.bp1-desktop .bp1-about .bp1-button-download .bp1-download-the-font {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
.bp1-desktop .bp1-letters {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 133px;
  height              : 631px;
  width               : 878px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  opacity             : 0.79;
}
.bp1-desktop .bp1-letters .bp1-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
}
.bp1-desktop .bp1-letters .bp1-b {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
}
.bp1-desktop .bp1-letters .bp1-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 326px;
}
.bp1-desktop .bp1-letters .bp1-d {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
}
.bp1-desktop .bp1-letters .bp1-e {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 644px;
}
.bp1-desktop .bp1-letters .bp1-f {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 136px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 748px;
}
.bp1-desktop .bp1-letters .bp1-g {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.bp1-desktop .bp1-letters .bp1-h {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
}
.bp1-desktop .bp1-letters .bp1-i {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 238px;
}
.bp1-desktop .bp1-letters .bp1-j {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
}
.bp1-desktop .bp1-letters .bp1-k {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 514px;
}
.bp1-desktop .bp1-letters .bp1-l {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 648px;
}
.bp1-desktop .bp1-letters .bp1-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 140px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 761px;
}
.bp1-desktop .bp1-letters .bp1-n {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.bp1-desktop .bp1-letters .bp1-o {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
}
.bp1-desktop .bp1-letters .bp1-p {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
}
.bp1-desktop .bp1-letters .bp1-q {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 371px;
}
.bp1-desktop .bp1-letters .bp1-r {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 484px;
}
.bp1-desktop .bp1-letters .bp1-s {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 612px;
}
.bp1-desktop .bp1-letters .bp1-t {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : 140px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 722px;
}
.bp1-desktop .bp1-letters .bp1-u {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
}
.bp1-desktop .bp1-letters .bp1-v {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
}
.bp1-desktop .bp1-letters .bp1-w {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 287px;
}
.bp1-desktop .bp1-letters .bp1-x {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 427px;
}
.bp1-desktop .bp1-letters .bp1-y {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 581px;
}
.bp1-desktop .bp1-letters .bp1-z {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 491px;
  height              : 140px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
}
.bp1-desktop .bp1-choose-a-letter-and {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 822px;
  height              : auto;
  width               : 677px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(206, 32, 41, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 31.0px;
}
.bp1-desktop .bp1-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 444px;
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(206, 32, 41, 1.0);
  text-align          : center;
  letter-spacing      : 1.77px;
  line-height         : 33.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 767px) {
  .bp2-mobile {
    display             : block;
  }
  .bp3-tablet {
    display             : none;
  }
  .bp1-desktop {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp2-mobile {
    display             : none;
  }
  .bp3-tablet {
    display             : block;
  }
  .bp1-desktop {
    display             : none;
  }
}
@media screen and (min-width: 1024px) {
  .bp2-mobile {
    display             : none;
  }
  .bp3-tablet {
    display             : none;
  }
  .bp1-desktop {
    display             : block;
  }
}